*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: red;
    
}
body{
    background-color: #1e272c;
}
nav {
    background-color: lightskyblue;
    color: white;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    font-style:oblique;
    text-align:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    border-radius: 12px;
    
    
}
a{
    text-decoration:none;
    color: red;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: inherit;
}
.hours{
    background-color: lightskyblue;
    border: 4px dotted black;
    padding: 10px;
    margin: auto;
    width: fit-content;
    position: relative;
    display:block;
    
    

}
.copyright{
    padding: 20px;
    margin: auto;
    position: relative;
    
}
.lower{
    text-align:center;
    position: relative;
    padding-top: 20px;
    bottom: 5%;
    height: 200px;
    width: 500px;
    margin: auto;
            
}
img{
    height: 525px;
    border-style: ridge;
    border-radius: 50%;
}
h1{
    font-size: 50px;
}
h4,h6,p{
    background-color: inherit;
    font-size: 15px;
}
.menu{
    font-size: 30px;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin-left: 10%;
    
}
.menuitem{
    font-family: inherit;
    padding-bottom: 20px;
}
hr{
    width: 100%;
    border-radius: 25%;
    border-color: silver;
    height: 2px;
    background-color: silver;
}
.menupic{
    float: right;
    position: absolute;
    top: 20%;
    right: 20%;
    left: 50%;
    size: 5px;
    border-color: red;
}
input{
    display: inline-block;
}
.reservation, .order{
    
    margin-left: 40px;
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
    font-size: 20px;
}
.aboutuspage{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.aboutustext{
    font-size: 25px;
    padding: 50px;
}
.dinerpic{
    border-radius: 25%;
}
.aboutusdiv{
    position: relative;
    background-color: red;
    
}
.aboutuspicsemail{
    position: absolute;
    bottom: -183px;
    left: 25%;
    border-radius: 0%;
    border-style: hidden;
    object-fit: contain;
    width: 5%;
    padding: 10px;
    
}
.aboutuspicsphone{
    position: absolute;
    bottom: -70px;
    left: 24.5%;
    border-radius: 0%;
    border-style: hidden;
    object-fit: contain;
    width: 5%;
    padding: 10px;
}